<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
        <session-factory>
 
        
                <!-- SQL Dialect -->
                <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>


                <!-- Echo all sql to sdtout -->
                <property name="show_sql">false</property>
 
                <!-- List all the Java classes we have mapped here -->

			    <mapping class="rain.Category"/>  
				<mapping class="rain.VideoRecording"/>
        </session-factory>

</hibernate-configuration>