<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
        <session-factory>
                <!-- Database connection settings -->
                <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
                <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbex81</property>
                <property name="hibernate.connection.username">student</property>
                <property name="hibernate.connection.password">student</property>

                <!-- JDBC connection pool -->
                <property name="hibernate.connection.pool_size">1</property>

                <!-- SQL Dialect -->
                <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

                <!-- Session context management -->
                <property name="hibernate.current_session_context_class">thread</property>

                <!-- Echo all sql to sdtout -->
                <property name="hibernate.show_sql">false</property>

                <!-- Drop and recreate db schema on startup -->
 
               <property name="hibernate.hbm2ddl.auto">create</property>
               <property name="hibernate.id.new_generator_mappings">false</property> 

			    

			<!-- TODO
				
				Define the mapping for the Track and Duration classes
				
				HINT: The element for mapping is <mapping/> with the attribute
				       "class"
			--> 


					
        </session-factory>

</hibernate-configuration>